@namespace Tempo.Blazor.Components.DataDisplay

<div class="tm-chip-group @Class @(Disabled ? "tm-chip-group-disabled" : "")" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    /// <summary>Chip children.</summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }

    /// <summary>Additional CSS class.</summary>
    [Parameter] public string? Class { get; set; }

    /// <summary>Whether the chip group is disabled.</summary>
    [Parameter] public bool Disabled { get; set; }

    /// <summary>Additional HTML attributes to apply to the root element.</summary>
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
